html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


nav{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    width: 100%;
    padding: .5em;
}

nav li{
    list-style-type: none;
    border-style: solid;
    border-color: white;
    padding: .5em;
    line-height: 1;
    display: inline-block;
}

nav a{
    color: white;
    text-decoration: none;
}

nav ul{
    padding: 0;
    margin: 0;
}